<!DOCTYPE html>
<html>
    <head>
        <title>Lexi's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Lexi's First Blog</a></h1>
        </header>

        <article>
            <time>published: 20.09.2025, 11:35</time>
            <h2><a href="">My first post</a></h2>
            <p>Guys I programmed this shit how crazy. I'm a real life hacker girl fr. Dk whats going on lowkey but I'm doing it and that's cool af! </p>
        </article>

        <article>
            <time>published: 20.09.2025, 11:37</time>
            <h2><a href="">My second post</a></h2>
            <p>Guys I did it againnnn. Hide you banks account details.</p>
        </article>
    </body>
</html>